<div class="card">
  <div class="card-header p-0 bg-transparent">
    <h2 class="mb-0">
      <button
        class="btn btn-block text-left collapsed"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
      >
        Safety
      </button>
    </h2>
  </div>

  <div class="collapse" data-parent="#our-values-accordion">
    <div class="card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
      richardson ad squid. 3 wolf moon officia aute, non cupidata
    </div>
  </div>
</div>

<!-- <div class="card">
    <div class="card-header p-0 bg-transparent" id="headingOne">
      <h2 class="mb-0">
        <button
          class="btn btn-block text-left collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          Safety
        </button>
      </h2>
    </div>
  
    <div
      id="collapseOne"
      class="collapse"
      aria-labelledby="headingOne"
      data-parent="#our-values-accordion"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
        richardson ad squid. 3 wolf moon officia aute, non cupidata
      </div>
    </div>
  </div> -->
