<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<div class="card">
  <div class="card-header p-0 bg-transparent">
    <h2 class="mb-0 d-flex justify-content-between align-items-center">
      <button
        class="btn btn-block text-left collapsed"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
      ></button>
    </h2>
  </div>

  <div class="collapse" data-parent="#our-values-accordion">
    <div class="card-body"></div>
  </div>
</div>
