<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<section class="EE-page-header-style">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="page-title">Blog Single</h2>
        <ol class="breadcrumb header-bradcrumb justify-content-center">
          <li class="breadcrumb-item">
            <a href="/index.html" class="text-white">Home</a>
          </li>
          <li
            id="page-directory"
            class="breadcrumb-item active"
            aria-current="page"
          >
            Blog Single
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
