<div>
  <header class="navigation fixed-top">
    <div class="container">
      <!-- main nav -->
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <!-- logo -->
        <a class="navbar-brand logo" href="/theme/index.html">
          <img
            loading="lazy"
            class="logo-default"
            src="/theme/images/logo.png"
            alt="logo"
          />
          <img
            loading="lazy"
            class="logo-white"
            src="/theme/images/logo-white.png"
            alt="logo"
          />
        </a>
        <!-- /logo -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li id="homepageHeader" class="nav-item dropdown">
              <a class="nav-link" href="/theme/index.html">Home</a>
            </li>
            <li id="header1" class="nav-item">
              <a class="nav-link" href="/theme/about.html">About Us</a>
            </li>
            <li id="header2" class="nav-item">
              <a class="nav-link" href="/theme/service.html">How it Works</a>
            </li>
            <li id="header4" class="nav-item">
              <a class="nav-link" href="/theme/team.html">Helpful Tips</a>
            </li>
            <li id="header6" class="nav-item">
              <a class="nav-link" href="/theme/contact.html">Contact</a>
            </li>
            <li id="header7" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/theme/why-sell.html"
                id="navbarDropdown02"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Why Sell <i class="tf-ion-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                <li>
                  <a
                    class="dropdown-item"
                    href="/theme/pages/expired-listings.html"
                    >Expired Listings</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/theme/pages/inherited-property.html"
                    >Inherited Properties</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/theme/pages/unwanted-homes.html"
                    >Unwanted Homes</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/theme/pages/absentee-owner.html"
                    >Absentee-Owner</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/theme/pages/foreclosure.html"
                    >foreclosure</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/theme/pages/costly-repairs.html"
                    >Costly-repairs</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href=/theme/pages/unpaid-property-taxes.html"
                    >unpaid property taxes</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/theme/pages/tired-landlords.html"
                    >tired-landlord</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/theme/pages/divorce.html"
                    >divorce</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/theme/pages/unwanted-homes.html"
                    >Blog Single Page</a
                  >
                </li>

                <li class="dropdown dropdown-submenu dropleft">
                  <a
                    class="dropdown-item dropdown-toggle"
                    href="#!"
                    id="dropdown0201"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Sub Menu <i class="tf-ion-chevron-down"></i
                  ></a>

                  <ul class="dropdown-menu" aria-labelledby="dropdown0201">
                    <li>
                      <a class="dropdown-item" href="/theme/index.html"
                        >Submenu 01</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="/theme/index.html"
                        >Submenu 02</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /main nav -->
    </div>
  </header>
</div>
