<div>
  <header class="navigation fixed-top">
    <div class="container">
      <!-- main nav -->
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link logo-default"
              href="/index.html"
              style="font-size: 22px; font-weight: bold"
              >Expand Estates
            </a>
            <a
              class="nav-link logo-white"
              href="/index.html"
              style="font-size: 22px; font-weight: bold"
              >Expand Estates
            </a>
          </li>
        </ul>
        <!-- logo -->
        <!-- <a class="navbar-brand logo" href="/index.html">
          <img
            loading="lazy"
            class="logo-default"
            src="/main/images/logo.png"
            alt="logo"
          />
          <img
            loading="lazy"
            class="logo-white"
            src="/main/images/logo-white.png"
            alt="logo"
          />
        </a> -->
        <!-- /logo -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navigation"
          aria-controls="navigation"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li id="homepageHeader" class="nav-item dropdown">
              <a class="nav-link" href="/index.html">Home</a>
            </li>
            <li id="header1" class="nav-item">
              <a class="nav-link" href="/main/about.html">About Us</a>
            </li>
            <li id="header2" class="nav-item">
              <a class="nav-link" href="/main/service.html">How it Works</a>
            </li>
            <li id="header4" class="nav-item">
              <a class="nav-link" href="/main/faq.html">FAQ</a>
            </li>
            <li id="header6" class="nav-item">
              <a class="nav-link" href="/main/contact.html">Contact</a>
            </li>
            <li id="header7" class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/main/why-sell.html"
                id="navbarDropdown02"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Why Sell <i class="EE-ion-chevron-down"></i>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown02">
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/expired-listings.html"
                    >Expired Listings</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/inherited-property.html"
                    >Inherited Properties</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/unwanted-homes.html"
                    >Unwanted Homes</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/absentee-owner.html"
                    >Absentee-Owner</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/main/pages/foreclosure.html"
                    >Foreclosure</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/costly-repairs.html"
                    >Costly-repairs</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/unpaid-property-taxes.html"
                    >Unpaid property taxes</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/main/pages/tired-landlords.html"
                    >Tired Landlords</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/main/pages/divorce.html"
                    >Divorce</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /main nav -->
    </div>
  </header>
</div>
