<!--
Start About Section
==================================== -->
<section class="about-2 section" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <!-- section title -->
      <div class="col-lg-6">
        <div class="title text-center">
          <h2>Sell Your Home Fast!</h2>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div>

    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <img
          loading="lazy"
          src="images/about/about-2.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6">
        <ul class="checklist">
          <li>1. Contact Us: Call, text, email, or fill out the form!</li>
          <li>2. Meet and Greet: let's chat over online or in person!</li>
          <li>
            3. Recieve Offer: we will assess the property and give a fair
            evaluation along with the breakdown of our numbers!
          </li>
          <li>4. Get Paid: We pay cash at closing in as little as 7 days</li>
        </ul>
        <a href="about.html" class="btn btn-main mt-20">Learn More</a>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->
