<!--Start Contact Us
	=========================================== -->
<section class="contact-us" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <!-- section title -->
      <div class="col-xl-6 col-lg-8">
        <div class="title text-center">
          <h2>Get In Touch</h2>
          <p>
            We're always here to connect with you and address any questions or
            concerns you may have.
          </p>
          <div class="border"></div>
        </div>
      </div>
      <!-- /section title -->
    </div>
    <div class="row">
      <!-- Contact Details -->
      <div class="contact-details col-md-6">
        <h3 class="mb-3">Contact Details</h3>
        <p>
          Whether you're curious about our streamlined process for providing
          cash offers on homes, seeking guidance on halting foreclosure
          proceedings in Charlotte, or simply want to learn more about our team
          and what sets us apart, we're eager to chat. Feel free to reach out to
          us via the phone number below or shoot us an email using the form
          provided. Rest assured, we'll make it a priority to respond within 24
          hours. However, if you need immediate assistance, don't hesitate to
          give us a call. Looking forward to connecting with you soon!
        </p>
        <ul class="contact-short-info mt-4">
          <li class="mb-3">
            <i class="tf-ion-ios-home"></i>
            <span>Charlotte, North Carolina</span>
          </li>
          <li class="mb-3">
            <i class="tf-ion-android-phone-portrait"></i>
            <span>Phone: 704-659-6832</span>
          </li>
          <li>
            <i class="tf-ion-android-mail"></i>
            <span>Email: ExpandEstates@gmail.com</span>
          </li>
        </ul>
        <!-- Footer Social Links -->
        <div class="social-icon">
          <ul>
            <li>
              <a href="/index.html"><i class="tf-ion-social-facebook"></i></a>
            </li>
            <li>
              <a href="/index.html"><i class="tf-ion-social-twitter"></i></a>
            </li>
            <li>
              <a href="/index.html"
                ><i class="tf-ion-social-dribbble-outline"></i
              ></a>
            </li>
            <li>
              <a href="/index.html"
                ><i class="tf-ion-social-linkedin-outline"></i
              ></a>
            </li>
          </ul>
        </div>
        <!--/. End Footer Social Links -->
      </div>
      <!-- / End Contact Details -->

      <!-- Contact Form -->
      <div class="contact-form col-md-6">
        <form id="contact-form" method="post" role="form" action="/send_email">
          <div class="form-group mb-4">
            <input
              type="text"
              placeholder="Your Name"
              class="form-control"
              name="name"
              id="name"
              required
            />
          </div>

          <div class="form-group mb-4">
            <input
              type="email"
              placeholder="Your Email"
              class="form-control"
              name="userEmail"
              id="userEmail"
              for="email"
              required
            />
          </div>
          <div class="form-group mb-4">
            <input
              type="tel"
              placeholder="Your Number"
              class="form-control"
              name="phoneNbr"
              id="phoneNbr"
              for="phoneNbr"
            />
          </div>

          <div class="form-group mb-4">
            <input
              type="text"
              placeholder="Subject"
              class="form-control"
              name="subject"
              id="subject"
              for="subject"
              required
            />
          </div>

          <div class="form-group mb-4">
            <textarea
              rows="6"
              placeholder="Message"
              class="form-control"
              name="message"
              id="message"
              required
            ></textarea>
          </div>
          <div id="cf-submit">
            <input
              type="submit"
              id="contact-submit"
              class="btn btn-transparent"
              value="send"
            />
            <a href="./faq.html"></a>
          </div>
        </form>
      </div>
      <!-- ./End Contact Form -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end section -->
