<div class="hero-slider">
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/home/slider-bg-1.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            We Buy Homes In<br />
            All Conditions
          </h1>
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            We Pay Cash
            <br />
            Any Price
            <br />
            Any Condition
          </p>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn btn-main"
            href="./main/contact.html"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/home/slider-bg-2.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInDown"
            data-delay-in=".1"
          >
            Bill Piling Up? <br />
          </h1>
          <p
            data-duration-in=".3"
            data-animation-in="fadeInDown"
            data-delay-in=".5"
          >
            We Make any situation as easy as possible
            <br />
          </p>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInDown"
            data-delay-in=".8"
            class="btn btn-main"
            href="./main/contact.html"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/home/slider-bg-3.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            Home In Need of Repair?
          </h1>
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            We Buy Home in Any Condition
            <br />
          </p>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn btn-main"
            href="./main/contact.html"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url(images/home/slider-bg-4.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            Have a House you don't want?<br />
          </h1>
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
          >
            Inheritance, Divorce, Bad Tenant, Costly Repairs?
            <br />
            We Make Any Situation As Easy As Possible
          </p>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn btn-main"
            href="./main/contact.html"
            >Contact Us</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
