<!--
Start About Section
==================================== -->
<section class="service-2 section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <!-- section title -->
        <div class="title text-center">
          <h2>What Do We Offer</h2>
          <p>
            We buy homes in North Carolina! At Expand Estates LLC, we will buy
            your home in any condition regardless of your credit score. We
            guarantee a fair cash offer for your property and you can have cash
            in hand and be free of your unwanted property in as little as one
            week!
          </p>
          <div class="border"></div>
        </div>
        <!-- /section title -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-none d-md-block">
        <img
          loading="lazy"
          src="images/home/home-2.jpg"
          class="img-fluid inline-block"
          alt=""
        />
      </div>
      <div class="col-md-8">
        <div class="row text-center">
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-alarm-outline"></i>
              <h4>Fast Closing</h4>
              <p>
                We operate very quickly! We understand the importance of
                liquidating cash. Fast closing means cash will be in your bank
                accounts sooner rather than later.
              </p>
            </div>
          </div>
          <!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-briefcase-outline"></i>
              <h4>All Cash</h4>
              <p>
                We pay all cash upfront! That means no waiting for loan
                approvals, no fees or financial contingenies, and an overall
                simplified process!
              </p>
            </div>
          </div>
          <!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-email-outline"></i>
              <h4>24 Hour Customer Support</h4>
              <p>
                Throughout the closing process, 24 Hour support will be
                available to answer any questions that arise.
              </p>
            </div>
          </div>
          <!-- END COL -->
          <div class="col-md-6 col-sm-6">
            <div class="service-item">
              <i class="tf-ion-ios-locked-outline"></i>
              <h4>Secure System</h4>
              <p>
                By using a trusted attorney, we can have developed a system to
                ensure quick and secure Title Transfers as well as cash
                transfers.
              </p>
            </div>
          </div>
          <!-- END COL -->
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->
