<section class="posts section">
  <div class="container">
    <div class="row">
      <!-- /section title -->
      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-1.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/expired-listings.html">Expired Listings</a>
            </h3>
            <p>
              If your home listing has expired, leaving you burdened with the
              property and its financial obligations, you're not alone. But
              there are ways out...
            </p>
            <a class="btn btn-main" href="./pages/expired-listings.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <!-- /single blog post -->

      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-2.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/inherited-property.html">Inherited Properties</a>
            </h3>
            <p>
              When a loved one passes away and leaves you their property, it
              often stirs up mixed emotions. While there may be sentimental
              attachment to the home...
            </p>
            <a class="btn btn-main" href="./pages/inherited-property.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <!-- end single blog post -->

      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-3.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/unwanted-homes.html">Unwanted Homes</a>
            </h3>
            <p>
              If you find yourself with a property you've inherited or purchased
              but can't manage, it can really weigh on you. Expand Estates
              understands this, and we're...
            </p>
            <a class="btn btn-main" href="./pages/unwanted-homes.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <!-- /section title -->
      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-4.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/absentee-owner.html">Absentee Owners</a>
            </h3>
            <p>
              Do you find yourself burdened by a property you no longer live in?
              Are yearly tax payments, constant upkeep, and costly repairs
              draining your...
            </p>
            <a class="btn btn-main" href="./pages/absentee-owner.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <!-- /single blog post -->

      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-5.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/foreclosure.html">Foreclosures</a>
            </h3>
            <p>
              If you find yourself on the brink of losing your home to
              foreclosure, feeling trapped with no way out, we extend a helping
              hand to sell your...
            </p>
            <a class="btn btn-main" href="./pages/foreclosure.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <!-- end single blog post -->

      <!-- single blog post -->
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-6.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/costly-repairs.html">Costly Repairs</a>
            </h3>
            <p>
              If you envisioned years of joy in your home, only to face a
              nightmare of constant repairs and maintenance, you're not alone.
              Many homeowners find themselves...
            </p>
            <a class="btn btn-main" href="./pages/costly-repairs.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-6.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/unpaid-property-taxes.html"
                >Unpaid Property Taxes</a
              >
            </h3>
            <p>
              If your property taxes have lapsed for a considerable period, you
              might face the looming threat of losing ownership of your
              property. Most state laws allow...
            </p>
            <a class="btn btn-main" href="./pages/unpaid-property-taxes.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-6.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/tired-landlords.html">Tired Landlords</a>
            </h3>
            <p>
              Being a landlord isn't for the faint of heart – we understand
              firsthand. Dealing with troublesome tenants, unexpected appliance
              failures, and ongoing...
            </p>
            <a class="btn btn-main" href="./pages/tired-landlords.html"
              >Read more</a
            >
          </div>
        </div>
      </article>
      <article class="col-lg-4 col-md-6">
        <div class="post-item">
          <div class="media-wrapper">
            <img
              loading="lazy"
              src="./images/why-sell/post-6.jpg"
              alt="amazing caves coverimage"
              class="img-fluid"
            />
          </div>

          <div class="content">
            <h3>
              <a href="./pages/divorce.html">Divorce</a>
            </h3>
            <p>
              Divorce is undoubtedly challenging, especially when it involves
              dividing assets like homes and cars. But with Expand Estates, it
              doesn't have...
            </p>
            <a class="btn btn-main" href="./pages/divorce.html">Read more</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
